
@layer base {
    @font-face {
        font-family: Lato;
        src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: Unbounded;
        src: url('./fonts/Montserrat/Montserrat.ttf') format('truetype');
    }
    @font-face {
        font-family: Chivo;
        src: url('./fonts/Chivo_Mono/ChivoMono.ttf') format('truetype');
    }
    a {
        @apply font-bold;
        @apply text-purple-400;
        @apply underline;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
    
